.dcma {
    display: block;
    width: 60%;
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
    margin: 4rem auto;
}

.dcma .back-btn {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #147771;
    border-radius: 10px;
    margin: 1rem auto;
}

.dcma .back-btn a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {
  .dcma {
    width: 90%;
  }
}
