@import url('https://fonts.googleapis.com/css?family=Exo');

.intro {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  margin: auto;
}

.intro .intro-title {
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;  
  justify-content: center;
  margin: 1rem; 
}

.infos {
  text-align: left;
  font-size: 20px;
}

.exam-start {
  display: flex;
  margin-top: 15vh;
  flex-direction: column;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  .intro {
    padding-top: 3rem;
  }

  .infos {
    margin: 1rem;
  }
}
