html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #147771;
}

header h1 {
  color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
}
