html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #147771;
}

header h1 {
  color: #ffffff;
}

.label-select {
  position: absolute;
  right: 1rem;
  min-width: 120px;
}

.label-select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.label-select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

.label-select select:required:invalid {
  color: #5a667f;
}

.label-select select option {
  color: #223254;
}

.label-select select option[value=""][disabled] {
  display: none;
}

.label-select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}

.label-select select:hover + svg {
  stroke: #07f;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

[lang] {
  display: none;
}

[lang=en] {
  display: unset;
}

.title {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
}

.infos {
  display: block;
  margin: 3rem 10rem;
  text-align: center;
}

.exams {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  margin: 1rem;
}

.exams .exam-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.exams a {
  color: #ffffff;
  text-decoration: none;
  margin: 1rem 0;
}

span.exam {
  background-color: #272727;
  padding: 1rem;
  border-radius: 15px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}
