@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
  text-decoration: none;
}

#countdown {
  margin: 1rem;
  text-align: center;
  height: 1rem;
}

.exam-simulation {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.exam-simulation .question-number {
  display: contents;
  font-size: 1.5rem;
  font-weight: bold;
}

.exam-simulation .question-number img {
  display: none;
  position: absolute;
  top: 26%;
  width: 30px;
  height: 30px;
}

.exam-simulation .question {
  width: 90%;
  padding: 1rem;
  text-align: center;
}

.exam-simulation .alternatives {
  padding: 0.3rem;
}

.exam-simulation .alternative {
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.exam-simulation .alternative:hover {
  background-color: #cccccc;
  border-radius: 1rem;
}

.exam-simulation .alternative > span.alternative-choice {
  width: 15px;
  display: inline-block;
  position: relative;
  height: 15px;
  top: -14px;
  font-size: 0;
  border: 1px solid black;
  margin: 0 0.5rem;
}

.exam-simulation .alternative > span.alternative-choice.selected {
  background:
    linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
    linear-gradient(135deg, #147771 0%,#147771 43%,#fff 45%,#fff 55%,#147771 57%,#147771 100%);
}

.exam-simulation .alternative > span.alternative-letter.selected {
  height: 1.5rem;
  width: 1.5rem;
  border: 4px solid #f00;
  border-radius: 50%;
  margin-left: -10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.exam-simulation .actions {
  padding: 0.5rem;
}

.exam-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  flex-flow: wrap column;
  max-height: 500px;
}

.exam-resume-answer {
  width: 130px;
  cursor: pointer;
  padding: 0.2rem 1rem;
  transition: all .3s;
}

.exam-resume-answer:hover {
  background-color: #cccccc;
  border-radius: 1rem;
  transition-duration: .35s;
}

.exam-finish-results {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
}

.exam-finish-results > span.exam-result-statics {
  margin: 1rem 0;
}

.action-button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #147771;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: 0 6rem;
}

.action-button:enabled:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.action-button:disabled {
  background-color: #cacaca;
}

.action-button:enabled:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.action-button:enabled:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.review-btn, .finish-btn {
  display: none;
  position: absolute;
  bottom: 3rem;
  right: -4rem;
}
